<!doctype html>
<html lang="en">
  <head>
  	<title>Studentska sluzba</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/stajl.css">
    <style>
      form  { display: table;float:left;}
      p     { display: table-row;  }
      label { display: table-cell; }
      input { display: table-cell; margin-right: 5px; }
      .dugme{
        float:left;
        margin-left: 50px;
        margin-top:100px;
      }
      #forma{
        border-bottom: 2px solid blue;
        height: 200px;
        margin-bottom: 20px;;
      }
    </style>
  </head>
  <body onload="loadIspiti();obojiVrste()">
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
        <h1><a href="/HomeProf" class="logo">Studentska Sluzba</a></h1>
        
        
        <ul class="list-unstyled components mb-5">
          <li>
            <a href="/HomeProf"><span class="fa fa-user mr-3"></span>Pocetna Strana</a>
          </li>
          <li>
              <a href="/profesorPredmeti"><span class="fa fa-sticky-note mr-3"></span>Pogledaj predmete</a>
          </li>
          <li>
            <a href="/profesorPrijave"><span class="fa fa-sticky-note mr-3"></span> Prijave ispita</a>
          </li>
          <li class="active">
            <a href="/profesorUpisiPregled"><span class="fa fa-sticky-note mr-3"></span>Pogledaj prijave ispita i upisi ocene</a>
          </li>
          
        
        </ul>

    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        
        <h2 class="mb-4"></h2>
        
          <div class="combo">
            <label for="predmet">Predmet</label>
            <select id="predmet" name="predmet" onclick="kombofilter()">
              <option selected></option>
              <option th:each="predmet : ${predmeti}"
                        th:value="${predmet.nazivPredmeta}"
                        th:text="${predmet.nazivPredmeta}"></option>
            </select>
          </div>
          <div class="combo">
            <label for="rok">Rok</label>
            <select id="rok" name="rok" onclick="kombofilter()">
              <option selected></option>
              <option>Januar</option>
              <option>Februar</option>
              <option>Mart</option>
              <option>April</option>
              <option>Maj</option>
              <option>Jun</option>
              <option>Jul</option>
              <option>Avgust</option>
              <option>Septembar</option>
              <option>Oktobar</option>
              <option>Novembar</option>
              <option>Decembar</option>
            </select>
          </div>
          <div class="combo">
            <label for="godina">Godina</label>
            <select id="godina" name="godina" onclick="kombofilter()">
              <option selected></option>
              <option th:each="godina : ${godine}"
                        th:value="${godina.skolskaGodina}"
                        th:text="${godina.skolskaGodina}"></option>
            </select>
          </div>
          <br><br><br><br>
    <table>
      <span style="margin-right:5px;">Pretraga</span><input id="pretraga" type="text" onkeyup="kombofilter()">
        <select id="opcije">
          <option value="Simeiprezime">Ime/Prezime</option>
          <!--<option value="2">Prezime</option>-->
          <!--<option value="2">Sifra</option>-->
          <!--<option value="3">Naziv</option>-->
          <!--<option value="4">Ispitni rok</option>-->
          <!--<option value="5">Datum polaganja</option>-->
          <!--<option value="6">Ocena</option>-->
          <!--<option value="7">ID ispitivaca</option>-->
          <!--<option value="8">Skolska godina</option>-->
         
        </select>
      <tr>
      	<th>Indeks</th>
      	<th>Ime</th>
        <th>Prezime</th>
        <th>Sifra</th>
        <th>Naziv</th>
        <th>Ispitni rok</th>
        <th>Datum polaganja</th>
        <th>Ocena</th>
        <th>ID ispitivaca</th>
        <th>Skolska godina</th>
        <th></th>
        
      </tr>
      <tr th:each="ispit : ${ispiti}">
      			<td class="indeks" th:text="${ispit.indeks}"></td>
      			<td class="T" th:text="${ispit.ime}"></td>
      			<td class="T" th:text="${ispit.prezime}"></td>    		
            <td class="sifraPredmeta" th:text="${ispit.sifraPredmeta}"></td>
            <td class="T" th:text="${ispit.naziv}"></td> 
            <td class="ispitniRok" th:text="${ispit.ispitniRok}"></td>
            <td class="T" th:text="${ispit.datumPolaganja}"></td>
          <td>          
            <select class="ocena">
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>         
            </select>
          </td>
    			<td class="T" th:text="${ispit.iDIspitivaca}"></td>
    			<td class="skolskaGodina" th:text="${ispit.skolskaGodina}"></td>
    			<td class="potvrdiOcenu"><button>Potvrdi Ocenu</button></td>
     
      </tr>
      
		</table>
        
      </div>
		</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/funkcije.js"></script>
    <script src="js/funkcijeProfesor.js"></script>
  </body>
</html>